* {
  margin: 0;
  padding: 0;
}

li {
  /* we don't want any dot infront of the list */
  list-style: none;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  /* use parent grid line to seperate logo and links 
  or actually we don't have to follow the parent so we don't need margin*/
  grid-template-columns: subgrid;
  /* from the spective of ul container , everything is centered. 
  The only thing that is not centered is the menu. So we need the header container */
  align-items: center;
}

.logo{
  /* move logo to the left */
  justify-self: start;
}

.menu ul,
.menu li {
  font-size: 16px;
}


.menu ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* ul is not header grid item so changing the margin won't affect the grid line */
  margin-left: 18%;
}


.sidebar {
  background-color: #C50208;
  grid-row: 2 / span 2;
  /* Only one col so no need to set other things */
  display: grid;
  gap: 50px;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  /* as it is dynamic, we don't know how many rows, so we just specfic the colunm */
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
