body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: inline-grid;
  /* width: 1200px; to col
  height: 600px;    to row */
  grid-template: 95px 95px 475px 95px / 500px 1000px;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1 / -1;
}

.sidebar {
  background-color: #005B94;
  grid-row: 2 / -2;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
